.parent {
    color: blue;

    & > div {
        color: purple;

        &.second-child {
            color: black;
        }
    }
}

.element {
    color: red;
}


// .child {
//     color: purple;
// }